/* CSS樣式 */
    body {
        font-family: Arial, sans-serif;
        background-color: #44546A;
    }
    
    .header-container {
        overflow: auto;
        margin-bottom: 2%;
    }

    h1 {
        color: #FFFFFF;
    }

    .image {
        float: left;
        margin-right: 1%;
        width: 5%;
        height: auto;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        margin: 0;
        padding: 0;
    }
    
    .button {
        padding: 40px 80px;
        background-color: #FFFFFF;
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 40px;
        text-align: center;
        margin: 20px;
        font-size: 40px;
    }
    
    .button-black-border {
        border: 5px solid #000;
    }
      