/* CSS樣式 */
    body {
        font-family: Arial, sans-serif;
        background-color: #44546A;
    }
  
    .header-container {
        overflow: auto;
        margin-bottom: 2%;
    }

    h1 {
        color: #FFFFFF;
    }

    .image {
        float: left;
        margin-right: 1%;
        width: 5%;
        height: auto;
    }
  
  .search-container {
    display: block, flex;
    width: 80%;
    margin-left: 10%;
  }

  #search-input {
    width: 90%;
    padding: 1% 2%;
    font-size: 16px;
    border-radius: 10px;
  }
  
  #search-button {
    padding: 1% 2%;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 1%;
    float: right;
    cursor: pointer;
  }
  
  .search-results {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  table th, table td {
    padding: 8px;
    border: 1px solid #ccc;
  }