body {
    font-family: Arial, sans-serif;
    background-color: #44546A;
    color: #FFFFFF;
}

.header-container {
    display: flex;
    align-items: center;
    height: 10vh;
}

.icon {
    margin-right: 1%;
    width: 10vh;
    height: 10vh;
}

.center-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}