.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.button {
    height: 20vh;
    padding: 6vh 6vw;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    /* margin: 20px; */
    margin-right: 20px;
    font-size: 30px;
    border: 5px solid #000;
}