    .table-container {
        height: 400px;
        overflow: auto;
    }

    #searchResults {
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
    }

    table th,
    table td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .button-container {
        display: flex;
        /* align-items: right; */
        justify-content: right;
        /* margin-top: 20vh; */
        width: 80%;
        margin-left: 10%;
        /* height: 50vh; */
    }