    .table-container {
        height: 400px;
        overflow: auto;
    }

    #searchResults {
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
    }

    table th,
    table td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        margin: 0;
        padding: 0;
    }

    .button {
        padding: 40px 80px;
        background-color: #FFFFFF;
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 40px;
        text-align: center;
        margin: 20px;
        font-size: 40px;
    }